<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Blue Harvest Admin Home</title>
</head>

<body>
	<h1>Welcome [[${#httpServletRequest.remoteUser}]]!!</h1>

	<form action="#" th:action="@{/openAccount}" th:object="${createAccountRequest}" method="post">
		<p>customerID: <input type="text" th:field="*{customerID}" /> </p>
		<p>customerName: <input type="text" th:field="*{customerName}" /> </p>
		<p>initial Credit: <input type="text" th:field="*{initialCredit}" /> </p>
		<p>Credit currency: <input type="text" th:field="*{currency}" disabled="disabled" value="EUR" /> </p>
		<p> <input type="submit" value="submit Customer Details" /> <input type="reset" value="Reset" /> </p>
	</form>
</body>
</html>